.App {
  /*text-align: center;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.P1hand {
  position: fixed;
  transform-origin: top left;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.P2hand {
  position: fixed;
  transform-origin: top left;
  top: 50%;
  left: 10%;
  transform: rotate(90deg) translate(-50%, 0%);
}

.P3hand {
  position: fixed;
  /*transform-origin: top left;*/
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.P4hand {
  position: fixed;
  transform-origin: top right;
  top: 50%;
  right: 10%;
  transform: rotate(270deg) translate(50%, 0%);
}

.CenterTiles {
  position: fixed;
  /*transform-origin: top left;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
